Flask<2
werkzeug<2
sqlalchemy<2
itsdangerous<2.1
MarkupSafe<2.1
jinja2<3.1
Flask-SQLAlchemy<3
peewee
wtf-peewee
mongoengine<=0.21.0
pymongo
flask-mongoengine==0.8.2
pillow
flask-babelex
shapely
geoalchemy2
psycopg2
sqlalchemy-citext
sqlalchemy-utils
azure-storage-blob<12
arrow
colour
email-validator
wtforms<3
